@charset "utf-8";
    msuic {
    z-index: -9999;
}
.videos {
    display: none;
    width: 100%;
    height: 504px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 111;
    transform: translate(-50%, -50%);
}
.mydiv {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
.mynav {
    border-radius: 60px;
    padding: 6px;
    text-align: center;
    background-color: #EFDDC4;
    color: #070404;
    font-family: "隶书";
    float: left;
}

.myfooter {
    text-decoration: none;
    color: white;
}
.idiv {
    padding: 20px;
}

    a:link {
    text-decoration: none;
    color: #EC9A3E;
}
a:visited {
    text-decoration: none;
    color: #EDEDF7;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    color: #F1E9EA;
}
    body,td,th {
    font-size: 16px;
}
    
.jz {
    text-align: center;
}
.yuanjiao {
    border-radius: 20px;
}
.image_div  {
    width: 200px;
}
.gz _div {
    width: 200px;
}

.text1 {
    font-size: 30px;
    color: #E29242;
    line-height: 41px;
    text-align: center;
    text-shadow: 0 2px 0）;
    overflow: hidden;
}
.footer_color  {
    text-decoration-color: white;
}
.text2 {
    font-size: 30px;
    color: #F3F2F0;
    line-height: 41px;
    text-align: center;
    text-shadow: 0 2px ）;
    overflow: hidden;
}
.logintext {
    font-size: 19px;
    color: #F3F2F0;
    line-height: 41px;
    text-align: center;
    text-shadow: 3px 2px ）;
    overflow: hidden;
}
