@charset "utf-8";
.inav {
    text-align: center;
    color: #FD8A00;
    font-size: 35px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin-top: 70px;
    margin-right: 84px;
    margin-left: 93px;
    margin-bottom: 98px;
    font-weight: bold;
}
