@charset "utf-8";
.city_ul {
    overflow: hidden;
}

.city_li {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.city_li::before,
.city_li_two::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.city_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    transition: all 0.5s;
}

.city_text {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 260px;
    background-size: 132px;
    font-size: 36px;
    color: #fff;
    line-height: 260px;
    text-align: center;
    text-shadow: 0 2px ）;
    overflow: hidden;
}

.figure {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: calc(50% + 360px) 50%;
    background-size: 1018px 260px;
    transition: all 0.9s;
    border: 6px solid #FFFFFF;
}

.city_li:hover::before {
    opacity: 0.5;
}

.city_li:hover .city_bg {
    transform: scale(1.05);
}

.city_li_two {
    position: relative;
    width: 100%;
    height: 260px;
    background: center no-repeat;
    overflow: hidden;
}

.city_text_two {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 260px;
    background-size: 132px;
    font-size: 36px;
    
    line-height: 260px;
    text-align: center;
    text-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    overflow: hidden;
}
a:hover {
    text-decoration: none;
    color: #FF0000;
}
